
/* estilo geral  */

*{    
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


header{

    color: rgb(65, 57, 57);
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.headao{
    width: 1000px;
    height: 50px;
    display:flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

h1{

    font-size:24px;
    font-weight: 900;
    color:black;

}

.logo {display: flex;
    align-items: center;
}

#logo{
    color: #E36D00;
    
}

a{
    color:#7C7C7C;
    text-decoration: none;
    font-weight: 500;
}

.menu a:hover{
    color:black;
    border-bottom-style: solid;
    border-width: 2px;
    border-color:black;
}
.menu { word-spacing: 53px;}

.menu a:active{
    color:black;
}
.user-top {display: flex;
    align-items: center;
    }
.user-top p{
    margin-left:10px;
    font-weight: 500;
    color:black;
}

.circulo-top {
    width: 35px;
    height: 35px;
}
.perfilfoto{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-color: #c2c2c2;
    border: solid;  
    border-width: 0.1px;
}

.container{
    width: 100%;
    height: 271px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-top: 6px;
     
    }
  
.introducao{
    width: max-content;
    height: 126px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.introducao p{
    color:#7C7C7C;
    font-weight: 500;
    font-size: 16px;

}
.paineis {
    width:900px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    }

.painel{
    width: 200px;
    height: 100px;
    
}
.painel h1{ 
    font-size: 16px;
    font-weight: 500;
    margin-left: 14px;
    margin-top: 14px;
    color:white;
}
.painel h2{
    font-size: 16px;
    font-weight: 500;
    color:white;
    margin-left: 14px;
    margin-top: 30px;
}

.pan1{
    background-color: #E36D00;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.pan2{
    background-color: #5EB070;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.pan3{
    background-color: #675ABA;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.pan4{
    background-color: #7C7C7C;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.pan1 h2{ 
    font-size: 40px;
    margin-top: 11px;
    margin-left: 14px;}

/* A PARTIR DAQUI É O TASK */

.tasks{ 
    width: 100%;
    height: 309px;
}
.tarefa{
    width: 900px;
    height: 45px;
    background-color: #F5F5F5;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    
}

.tasks-icon{
    width: 25px;
    height: 25px;
    margin: 10px;
    border-radius: 50%;
    background-color:#9F9F9F;
}
.tasks-task{
    width:696px;
}
.tasks-time{
    width:79px;
    text-align: end;
    padding-right: 15px;
}
#tarefa1 .tasks-icon{
    background-color: #5EB070;
}
#tarefa4 .tasks-icon{
    background-color: #E36D00;
}
.tasks-task p{
    font-size: 16px;
    font-weight: 700;
}
.tasks-time p{
    font-size: 16px;
    font-weight: 500;   
}

.btn-entrar{
    width: 70px;
    height: 25px;
    background-color: #0496FF;
    border-radius: 4px;
    border-color:transparent;
    color:white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.task-head{
    width:900px;
    height: 19px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.task-head h1{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:#7C7C7C;
   
}

.quadro{
    width: 900px;
    height: 189px;
    margin: auto;
}

.quadro-titulo h1{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:#7C7C7C;}

.quadros{    
    width: 900px;
    height: 134px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top:10px;
    padding: 0 10px;
    display: flex;
    align-items: center;}

.quadro-1{
    width: 250px;
    height:100%;}

.quadro-1-1{
    width: 280px;
    height:51px;
    display: flex;
    margin:auto;
    align-items: center;
    font-size: 16px;
    color:#7C7C7C;
    font-weight: 500;
} 

.quadro-1-2{
    width: 100%;
    height:60px;
    font-size: 10px;
    color:#7C7C7C;
    font-weight: 500;}

.quadro-2{
    width:163px;
    height: 60px;
    margin-left: 30px;
    border-color: #E7E7E7;
    border-style: solid;
    border-width: 0 4px 0px 4px;
    padding: 0px 30px;
}
.quadro-2-1{

    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.quadro-2-1-1{
    width: 25px;
    height: 25px;
    background-color: #C4C4C4;
    border-radius: 3px;
    margin-top: 5px;
}

.quadro-2-2{
    font-size: 16px;
    color:#7C7C7C;
    font-weight: 500;
    margin-top: 10px;}

.quadro-3{
    width: 35px;
    height: 100%;
    margin-left:30px;
    padding-top: 22px;
    }

.quadro-3-1{
    
    width: 25px;
    height: 25px;
    background-color: #C4C4C4;
    border-radius: 3px;
    margin-bottom: 7px;
}

.quadro-3-2{
    width: 102px;
    height: 89px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.quadro-3-3{
    flex:1;
    font-size: 10px;
    color:#7C7C7C;
    font-weight: 500;
    margin-top: 10px;
}

.quadro-4{
    width: 272px;
    height: 60px;
    display: flex;
    background-color: #E7E7E7;
    border-radius: 4px;
    display: flex;
    margin: auto;
    align-items: center;
}

.quadro-4 p{
    font-size: 10px;
    color:#7C7C7C;
    font-weight: 500;
    margin: auto;
    }

.cadastro {
    width: 900px;
    height: 343px;
    display: flex;
    margin: auto;
    align-items: center;
}

input[type=text] {
    width: 250px;
    height: 35px;
    background-color: #E7E7E7;
    border: transparent;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cadastro-cliente{
    width: 246px;
    height: 343px;
}

.head-form{    
    font-size: 16px;
    color:#7C7C7C;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top:20px }
label{
    font-size: 16px;
    color:#7C7C7C;
    font-weight: 500;
}


select{
    width: 250px;
    height: 35px;
    background-color: #E7E7E7;
    border: transparent;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color:#959595;
    font-weight: 500;
    padding-left: 5px;

}
::placeholder{
    padding-left:10px;
    font-size: 16px;
    font-weight: 500;
    color:#959595;
}

.nacionalidade{
    display: inline-flex;
    align-items: center;
    margin-top: 14px;
}

.radio {
    display: none;
}
.radiolabel{
    margin-right: 17px;
    font-size: 16px;
    font-weight: 500;
    color:#7C7C7C;
    display:inline-flex;
}

.radio_radio{
    width: 18px;
    height: 18px;
    border: solid #547D78;
    border-width: 3px 3px 4px 4px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px;
}
.radio_radio::after{
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    background: #547D78;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}

.radio:checked + .radio_radio::after{
    transform: scale(1);
}

.btn-salvar{
    width: 246px;
    height: 39px;
    background: #62B67A;
    border-radius: 4px;
    border-color: transparent;
    color:white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer
}

.final{
    width: 900px;
    height: 74px;
    background:white;
}